body {
  background: linear-gradient(to right,#aaa, white);
}

.App {
  height: 100px;
  width: 100%;
}
.calculator-grid {
  
  background-color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(80px, auto) repeat(5, 80px); 
}

.output {
  margin-left: 10px;
  width: 240px;
  height: 100px;
  grid-column: 1/ -2;
  margin-bottom: 5rem;
  background-color: rgb(128, 128, 0, 0.4);
  display: flex;
  align-items: flex-end;
  border-radius: 1rem;
  padding: 30px;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  word-wrap: break-word;
  word-break: break-all;
  
  

}

.output .previus-operant {
  color: white;
  align-content: flex;
  text-align: right;
  font-size: 20px;

}

.output .current-operant {
  color: grey;
  align-content: flex;
  text-align: right;
  font-size: 20px;

}

/*TODO ESTO VA A FORMAR PARTE DE COMPONENTES*/
